body {
	font-size: 16px;
	color: #FFF;
	font-family: 'Oxygen', sans-serif;
}

.container {
	width: 100%;
}

.navbar-brand a{
	font-family: 'Lora', serif;
	color: #666;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1px 1px 1px #333;
	font-size: 34px;
}

.bg-yellow {
	background-color: #CCC;
	border-radius: 0;
	border: 0;
}

.menu-btn {
	border:1px solid #000 !important;
}

.menu-btn span{
	background-color: #000 !important;
}

.menu-btn:hover, .menu-btn:focus {
	border:1px solid #FFF !important;
	background-color: #CCC !important;
}

.menu-btn:hover > span, .menu-btn:focus > span{
	background-color: #FFF !important;
}

.bg-yellow a:hover, .bg-yellow a:focus {
	text-decoration: none;
	background-color: #FFFFFF !important;
}

.text-center {
	color: #000;
}

.heading {
	text-align: center;
	margin-top: 0px;
}

div.para-contents {
	background-color: #CCC;
	padding: 0px 15px 15px 15px;
	margin-bottom: 45px;
}

/********** Extra small devices only **********/
@media (min-width: 768px) {
	
}


@media (max-width: 767px) {
	.contents-padding-left-right{ padding: 0px 30px; }


@media (min-width: 480px) {
	
}


/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {

}